* {
    padding: 0;
    margin: 0;
    font-family: "Lato" sans-serif;
    text-decoration: none;
    background: none;
    border: none;
}

html,
body {
    height: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Первый блок fullscreen */

.header {
    background: #333333 url(../img/bg-header.jpg) center / cover no-repeat;
    min-height: 100vh;
    display: flex;
    padding: 20px 0;
}

.header__body {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    padding-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__text {
    text-align: center;
    color: #fff;
}

.header__text_bold {
    font-weight: 900;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 5.43;
}

.header__text_smile {
    font-size: 26px;
    letter-spacing: 4.13;
    color: #fff;
}

.widget {
    border: 1px solid black;
    width: 103px;
    margin: 0 auto;
}

.header__widget {
    border-color: white;
    margin: 0 auto;
    margin-top: 54px;
}

.header__buttons {
    margin-top: 140px;
    text-align: center;
    align-self: center;
}

.header__buttons_arrow {
    text-align: center;
}

.button {
    display: inline-block;
    border: 1px solid;
    padding: 15px 15px;
    text-transform: uppercase;
}

.header__button {
    border-color: #fff;
    color: #fff;
}

.header__arrow {
    display: block;
    margin-top: 154px;
}

.header__arrow img {
    width: 30px;
}


/* Первый блок fullscreen */


/* Второй блок menu*/

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-menu {
    flex-direction: column;
    padding: 30px 0;
}

.top-menu__body {
    margin-bottom: 100px;
}

.top-menu__text {}

.menu__link {
    color: #000;
    font-size: 27px;
}

.menu__link:first-child {
    color: #ADA074;
}

.menu__link:not(:last-child) {
    margin-right: 54px;
}


/* Второй блок menu */


/* Третий блок about */

.about {
    display: flex;
    padding: 20px 0;
}

.about__body {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 143px;
}

.about__text {}

.title {}

.title__text {
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 5.43;
    font-weight: 900;
    margin-bottom: 34px;
}

.about__title {}

.about__widget {
    border-color: black;
    width: 82px;
    margin-bottom: 37px;
}

.about__subtitle {
    margin-bottom: 69px;
}

.about__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__column {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__column:nth-child(even) {
    margin: 0 150px;
}


/* Третий блок about */


/* Четвертый блок portfolio */

.portfolio {
    display: flex;
    padding: 20px 20px;
}

.portfolio__body {
    text-align: center;
    margin: 0 auto;
}

.portfolio__top {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 143px;
}

.portfolio__title {}

.portfolio__widget {
    margin-bottom: 50px;
}

.portfolio__menu {}

.portfolio__column {
    margin-bottom: 64px;
}

.portfolio__row {}

.portfolio__example {
    margin-top: 15px;
    margin-right: 26px;
}

.portfolio__button {
    color: #000;
    border-color: #000;
    margin-bottom: 80px;
}


/* Конец Четвертого блока portfolio */


/* Пятый блок partners */

.partners {
    display: flex;
    background: url(../img/bg_patners.jpg) center / cover no-repeat;
}

.partners__body {
    margin: 0 auto;
    padding: 82px 0;
}

.partners__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners__text {
    font-size: 30px;
    text-transform: none;
    color: #fff;
    font-weight: 400;
}

.partners__row {}

.partners__logo:not(:last-child) {
    margin-right: 109px;
}